.footer__fact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    height: 4.5rem;
    background-color: var(--primary-color);
    font-size: var(--text-D);
    color: var(--white);
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .footer__fact {
        font-size: var(--text-M);
    }
}
