@import './root.css';
@import './components/style-footer.css';
@import './components/style-header.css';


body, h1, h2, h3, p, figure, blockquote, dl, dd, ul, ol, li, pre, fieldset, form, label, input, button, textarea, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  justify-content: center;
  margin: 0;
  flex-direction: column;
  place-items: center;
  background-color: var(--light-bg-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  font-size: var(--link-M);
  line-height: 1.6875rem;
}

a:hover {
  color: #2A7E12;
}


.main__container{
  background-color: var(--main-bg-color);
  padding: 5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  
}

.main__container-line img{
  width: 100%;
}

.main__container h1{
  font-size: var(--h1-M);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.book__container{
  font-size: var(--text-M);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6875rem;
}

.btn__container{
  width: 100%;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  
}
.btn__primary {
  border-radius: .5rem;
  gap: .6rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  letter-spacing: 0.03rem;
}
.btn__primary img{
  width: 1rem;
  height: 1.5rem;
}
.btn__second {
  border-radius: .5rem;
  gap: .6rem;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  background: var(--main-bg-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  letter-spacing: 0.03rem;
}
.btn__second img{
  width: 1rem;
  height: 1.5rem;
}


@media screen and (min-width: 768px) {
  .main__container{
    background-color: var(--light-bg-color)
  }
  
  .main__container-desktop{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem;
    justify-content: center;
    align-items: center;
    border: 0.05rem solid var(--primary-color);
    box-shadow: 10px 8px 19.6px 0px rgba(0, 0, 0, 0.15);
    gap: 6rem;
  }
  .main__container h1{
    font-size: var(--h1-D);
  }
  .book__container{
    font-size: var(--text-D);
    
  }
  .btn__container{
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
  }
  
  .links a{
    font-size: var(--link-D);
  }
}