@import './root.css';


body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  /* max-width: 1280px; */
  margin: 0;
  flex-direction: column;
  place-items: center;
  background-color: var(--main-bg-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
  background-color: #3A612F;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: var(--h1-D);
  line-height: 1.1;
}
.book__container{
  width: 80%;
}

#app {
  /* max-width: 1280px; */
  margin: 2.5rem 1.5rem;
  padding: 2rem;
  text-align: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.main__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 3.5rem; */
  height: 30rem;
  background-color: var(--light-bg-color);
  gap: 3rem
}
.btn__container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  /* position: relative;
  bottom: 0; */
}
.footer__fact{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4rem;
  background-color: var(--primary-color);
  font-size: var(--text-D);
  color: var(--white);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
